services:
  - type: web
    name: rainstaff
    runtime: python
    region: frankfurt
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        fromDatabase:
          name: rainstaff-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
    healthCheckPath: /

databases:
  - name: rainstaff-db
    databaseName: rainstaff
    user: rainstaff
    region: frankfurt
    plan: free
